StateMachine.txt
{
  "Comment": "A Hello World example of the Amazon States Language using Pass states",
  "StartAt": "StartExecution",
  "States": {
    "StartExecution": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ActionType",
          "StringEquals": "StartExecution",
          "Next": "CreateUserAccount"
        },
        {
          "Variable": "$.ActionType",
          "StringEquals": "delete",
          "Next": "DeleteAccount"
        }
      ]
     
    },
    "CreateUserAccount":
    {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:769286664391:function:CreateUserAccount",
      "End":true
    },
    
    "DeleteAccount": {
     "Type": "Task",
     "Resource": "arn:aws:lambda:us-east-1:769286664391:function:deleteAccount",
      "End": true
    }
  }
}