stepfun_ex.txt
{
  "Comment": "A Hello World example of the Amazon States Language using Pass states",
  "StartAt": "Hello",
  "States": {
    "Hello": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.HelloType",
          "StringEquals": "Hello2",
          "Next": "Hello1"
        },
        {
          "Variable": "$.HelloType",
          "StringEquals": "Randon",
          "Next": "Random"
        }
      ]
     
    },
    "Random":
    {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:769286664391:function:MyTestfunction",
      "Next":"World"
    },
    "World": {
      "Type": "Task",
     "Resource": "arn:aws:lambda:us-east-1:769286664391:function:MyTestfunction",
      "End": true
    },
    "Hello1": {
     "Type": "Pass",
     "Result": "Hi Mkp",
      "End": true
    }
  }
}